/vendor
/.idea
Homestead.json
Homestead.yaml
.env
.phpunit.result.cache
/public/tracking/*
/public/trakingproject/*
/public/metrics/*
/public/xtractor/*
public/tracking/*
public/trakingproject/*
public/metrics/*
public/xtractor/*
public/metrics/usage.json
/public/metrics/usage.json
public/metrics/usage.json
app/Http/Controllers/.DS_Store
app/Http/.DS_Store
app/.DS_Store
.DS_Store
app/Http/Controllers/Xsports/.DS_Store
docker/mysql/*